body{
    background-color: black;
    color: white;
}

#sample_img{
    height: 400px;
    margin-bottom: 20px;
}

#sample_div{
    height: 250px;
    width: 250px;
    border: solid white;
    background-color: red;
}

@media screen and (min-width:0px) and (max-width:450px) {
    #sample_img{
        height: 150px;
        margin-bottom: 20px;
    }

    #sample_div{
        height: 150px;
        width: 150px;
        border: solid white;
        background-color: blue;
    }

}